<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Book Collection</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
  <h1>This Book</h1>
  <p>
    <a href="/">Library Index</a>
  </p>
  {{#book}}
    <div>
      <h2><span class="italics"><strong><em>{{title}}</em><strong></span> by {{author.first}} {{author.last}} {{#pages}}({{pages}} pages){{/pages}}</h2>
      <h3>{{category}}{{#genre}}, {{genre}}{{/genre}}</h3>
      {{#deweyDecimalSystemInfo}}
        <h3>Dewey Decimal Subject Classification: {{deweyDecimalSystemInfo.subjectClassification}}
      </h3>
      {{/deweyDecimalSystemInfo}}
      <h3>{{readStatus}}</h3>
      </br>
      <h3><strong>Why is this book special?</strong></h3>
      <blockquote>{{whyIKeepIt}}</blockquote>

      {{#physicalProps}}
        <h3 class="indent">Appearance</h4>
      <ul class="indent">
          <li class="indent">
          Cover: {{cover_type}}
          </li class="indent">
          {{#coverAppearance}}
          <li class="indent">
          Visual associations: {{color}} {{image}}
          </li>
          {{/coverAppearance}}
      </ul>
      {{/physicalProps}}
    </div>
  </br>
      </br>
  <form action="/{{_id}}/delete" method="POST">
  <button type="submit">Delete this record</button>
  </form>
  {{/book}}


  <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
</body>
</html>
