<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>New Book Form</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta22/shoelace.css">
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
  <section>
  <h2>Add a new book</h2>
  <form action="/new/" method="POST" class="form">
    <p>
      <label for="title">Title:</label>
      <input class="italics" type="text" id="title" name="title" required />
    </p>
    <p>
      <label for="author">Author:</label>
      <input type="text" id="author_first" name="author.first" placeholder="First name" />
      <input type="text" id="author_first" name="author.last" placeholder="Last name" />
    </p>
    <p>
      <label for="fiction">Fiction</label>
      <input type="radio" name="category" id="fiction" value="fiction"><br>
      <label for="non-fiction">Non-fiction</label>
      <input type="radio" name="category" id="non-fiction" value="non-fiction"><br>
    </p>
    <p>
      Have read? Want to read?
    </p>
      <select name="readStatus">
        <option value="have-read-cover-to-cover">Have read cover to cover</option>
        <option value="have-skimmed">Have skimmed through parts</option>
        <option value="have-read-specific-parts-that-can-stand-alone">Have read specific parts that can stand alone</option>
        <option value="in-the-stack-on-my-bedside-table">In the stack on my bedside table</option>
        <option value="plan-to-read-someday">Plan to read someday</option>
      </select>
    <p>
      <label for="whyIKeepIt">Why is this book special?</label>
    </br>
      <textarea cols="50" rows="3" id="whyIKeepIt" name="whyIKeepIt" placeholder="Leave a comment to share what makes this book memorable.">
      </textarea>
    </p>
    <p>
      <button type="submit">Save this record</button>
    </p>
  </form>
  </section>
  <script src="https://cdn.shoelace.style/1.0.0-beta22/shoelace.js"></script>
  <script type="text/javascript" src="/main.js"></script>
</body>

</html>
